<h2>Detalles de {{ hero.name }}</h2>
<div><span>Id: </span>{{ hero.id }}</div>
<div><span>Nombre: </span>{{ hero.name }}</div>
<div>
    <form [formGroup]="formAngular" (submit)="submitApplication()">
        
        <label for="name">Nombre1: </label>
        <input id="name" type="text" placeholder="Nombre1" formControlName="heroName">
        <input id="surname" type="text" placeholder="Apellido" formControlName="heroApellido">
        
        <label>Sexo:</label>
        <mat-radio-group formControlName="heroSexo" aria-label="Select gender">
          <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          <mat-radio-button value="Femenino">Femenino</mat-radio-button>
        </mat-radio-group>
    
        <button type="submit" class="primary">send</button>
    </form>

    <mat-slider min="1" max="99" step="1" showTickMarks discrete [displayWith]="formatLabelAge" (input)="onSliderChangeAge($event)">
        <input matSliderThumb>
    </mat-slider>

    <mat-slider min="30" max="150" step="1" showTickMarks discrete [displayWith]="formatLabelWeight" (input)="onSliderChangeWeight($event)">
        <input matSliderThumb>
    </mat-slider>

    <h3>{{ hero.name }}</h3>
    <h3>{{ hero.apellido }}</h3>
    <h3>{{ sliderWeight }}</h3>
    <h3>{{ sliderAge }}</h3>
</div>
